<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Django channels</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    
</head>
<body>
    <h1 style="text-align: center;">Django channels</h1>


    <div id="app">
        <ul>

            <li v-for='item in reponse'>
                ${item.user} : ${item.mes}
            </li>
            
        </ul>
        <input v-model="message" type="text" name="" id="">
        <input type="text"  v-model="username">
        <button @click="sendmessage" type="button" class="btn btn-primary">send message</button>
        
    </div>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.17/vue.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/reconnecting-websocket@4.1.10/dist/reconnecting-websocket-cjs.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue-websocket@0.2.3/dist/vue-websocket.min.js"></script>

    <script>
        const app = new Vue({
            el: "#app",
            data: {
                message: "",
                reponse: [],
                username:"Annonyme",
            

            },
            delimiters: ["${", "}"],
            mounted: function() {
                
                this.connect()
                
            },
            methods: {
            
                connect() {
                    roomName = "hello"
                    this.socket = new WebSocket('ws://127.0.0.1:8000/ws/chat/' + roomName + '/');
                    this.socket.onopen = () => {
                        this.status = "connected";
                        console.log("connecte")
                        
                        this.socket.onmessage = ({data}) => {
                            
                        //   Recuperation message
                        wsdata = JSON.parse(data)
                        console.log(wsdata.message.mes)
                        this.reponse.push(wsdata.message)    
                        console.log(this.reponse)
                    
                        };
                    };
                },
                disconnect() {
                    this.socket.close();
                    
                    console.log("deconnecte")
                },
                
                
                sendmessage: function(){
                    
                    data = {
                        'message':{ 'mes':this.message,
                        'user':this.username }
                    }
                        this.socket.send(JSON.stringify(data));
                        
                        
                    }
                
                },
                
                updateAdmin: function(){
                    
                    this.socket.send(JSON.stringify({ 'message':"code send succes", 'admin':this.admin, 'code':this.codedep }));

                }, 
                
                        
            
    });
    </script>

</body>
</html>